		<div class="row m-3">
			<div class="col-sm-12">
				<h1>Bienvenue <%= @first_name%></h1>
			</div>
			<div class="col-sm-12">
				<p>Ici c'est notre super site de potins, il est chouette, non ?</p>
					 <%= link_to "Découvre ici tous les potins", root_path, class: "badge badge-primary" %>

			</div>

		</div>